<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="fr">
<head>
</head>
<body>
    {% block header %}
    {% endblock %}

    <div style="font-family:arial;margin:0;overflow:auto;background-color:#fdfdfd">
        <div style="width:670px;padding:10px;margin:0 auto;background-color:#fdfdfd;color:#44464e">
            <div style="text-align: center;"><img style="margin-bottom:10px" src="https://www.testunmetier.com/wp-content/uploads/2017/04/logo.png" alt="" class="CToWUd"></div>
            <div style="margin-bottom:20px;width:570px;background-color:#fff;padding:35px 30px;border:2px solid #efefef">
                {% block content %}{% endblock %}
            </div>
            <!-- FOOTER MAIL -->
            <span class="im">
            <p style="margin-bottom:8px;text-align:center;font-size:14px">© Testunmetier.com | 1<sup>er</sup> site de changement de vie professionnelle</p>
            <div style="text-align:center">
                <a style="color:#44464e;text-decoration:none;font-weight:bold" href="https://www.testunmetier.com/" target="_blank">Site Internet</a> - <a style="color:#44464e;text-decoration:none;font-weight:bold" href="https://www.facebook.com/testunmetier/" target="_blank">Facebook</a> - <a style="color:#44464e;text-decoration:none;font-weight:bold" href="https://twitter.com/TestUnMetierPro" target="_blank">Twitter</a> - <a style="color:#44464e;text-decoration:none;font-weight:bold" href="https://www.instagram.com/testunmetier/" target="_blank">Instagram</a>
            </div>
        </span>
        </div>

        <img border="0" width="1" height="1" alt="" src="http://post.spmailtechn.com/q/aC7tbEcHZvOYckysNzcPxg~~/AADlOAA~/RgRcNLGYPlcDc3BjWAQAAC-GQgoAB5gsUlpqupK9" class="CToWUd">
    </div>
    </div>
</body>
</html>
