<nav class="navbar navbar-default fixed-navbar">
    <div class="container">
        <div class="row">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-md-6">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ vitrine_domain }}">
                        <img src="{{ asset('images/logo.png') }}">
                    </a>
                </div>
            </div>
            {% if campagne.logo %}
                <div class="col-md-6">
                    <a class="navbar-brand pull-right" href="#">
                        <img src="{{ app.request.basePath }} {{ vich_uploader_asset(campagne, 'logoFile') }}" class="img-responsive logo" style="height: 65px!important;">
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>