{% extends 'User/profile.html.twig' %}

{% block contentProfile %}
<h4></h4>


<div class="center-box">
    <div class="center-icon">
        <i class="fa fa-check" aria-hidden="true"></i>
    </div>
    <h5> <b>Bienvenue dans Testunmetier.com</b>
        <p style="font-size:15px;color:#444;text-align: justify; line-height: 20px;margin-top: 10px;">Testunmetier.com est le premier site de changement de vie professionnelle et un concept unique permettant d'expérimenter de nouveaux métiers. Cet espace vous est dédié et vous permettra de gérer vos projets.</p>
        <p>par Testunmetier.com</p>
    </h5>

</div>
{% endblock %}