@import url(https://fonts.googleapis.com/css?family=Open+Sans:300, 300i, 400, 400i, 600, 600i, 700, 700i, 800, 800i);
@font-face {
    font-family: Conv_FuturaLight;
    src: url(fonts/FuturaLight.eot);
    src: local('☺'), url(fonts/FuturaLight.woff) format('woff'), url(fonts/FuturaLight.ttf) format('truetype'), url(fonts/FuturaLight.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_FuturaMedium;
    src: url(fonts/FuturaMedium.eot);
    src: local('☺'), url(fonts/FuturaMedium.woff) format('woff'), url(fonts/FuturaMedium.ttf) format('truetype'), url(fonts/FuturaMedium.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_FuturaMedium_Oblique;
    src: url(fonts/FuturaMedium_Oblique.eot);
    src: local('☺'), url(fonts/FuturaMedium_Oblique.woff) format('woff'), url(fonts/FuturaMedium_Oblique.ttf) format('truetype'), url(fonts/FuturaMedium_Oblique.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Bold_19042;
    src: url(fonts/Futura-Std-Bold_19042.eot);
    src: local('☺'), url(fonts/Futura-Std-Bold_19042.woff) format('woff'), url(fonts/Futura-Std-Bold_19042.ttf) format('truetype'), url(fonts/Futura-Std-Bold_19042.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Bold-Condensed_19040;
    src: url(fonts/Futura-Std-Bold-Condensed_19040.eot);
    src: local('☺'), url(fonts/Futura-Std-Bold-Condensed_19040.woff) format('woff'), url(fonts/Futura-Std-Bold-Condensed_19040.ttf) format('truetype'), url(fonts/Futura-Std-Bold-Condensed_19040.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Bold-Oblique_19041;
    src: url(fonts/Futura-Std-Bold-Oblique_19041.eot);
    src: local('☺'), url(fonts/Futura-Std-Bold-Oblique_19041.woff) format('woff'), url(fonts/Futura-Std-Bold-Oblique_19041.ttf) format('truetype'), url(fonts/Futura-Std-Bold-Oblique_19041.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Book_19044;
    src: url(fonts/Futura-Std-Book_19044.eot);
    src: local('☺'), url(fonts/Futura-Std-Book_19044.woff) format('woff'), url(fonts/Futura-Std-Book_19044.ttf) format('truetype'), url(fonts/Futura-Std-Book_19044.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Book-Oblique_19043;
    src: url(fonts/Futura-Std-Book-Oblique_19043.eot);
    src: local('☺'), url(fonts/Futura-Std-Book-Oblique_19043.woff) format('woff'), url(fonts/Futura-Std-Book-Oblique_19043.ttf) format('truetype'), url(fonts/Futura-Std-Book-Oblique_19043.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Std-Medium-Condensed_19056;
    src: url(fonts/Futura-Std-Medium-Condensed_19056.eot);
    src: local('☺'), url(fonts/Futura-Std-Medium-Conde94nsed_19056.woff) format('woff'), url(fonts/Futura-Std-Medium-Condensed_19056.ttf) format('truetype'), url(fonts/Futura-Std-Medium-Condensed_19056.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_FuturaT_Bold;
    src: url(fonts/FuturaT_Bold.eot);
    src: local('☺'), url(fonts/FuturaT_Bold.woff) format('woff'), url(fonts/FuturaT_Bold.ttf) format('truetype'), url(fonts/FuturaT_Bold.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Conv_Futura-Thin_19080;
    src: url(fonts/Futura-Thin_19080.eot);
    src: local('☺'), url(fonts/Futura-Thin_19080.woff) format('woff'), url(fonts/Futura-Thin_19080.ttf) format('truetype'), url(fonts/Futura-Thin_19080.svg) format('svg');
    font-weight: 400;
    font-style: normal;
}
html {
    height: 100%;
    width: 100%}
/*body {
    height: 100%;
    width: 100%;
    display: table;
    padding-top: 83px;
}
*/.admin-bar body {
      padding-top: 115px;
  }
.main-content {
    height: 100%;
    background: #e7ecef;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 83px;
    background-color: #fff;
    border-color: #fff;
    color: grey;
    font: normal normal normal 16px/1.4em futura-lt-w01-light, sans-serif;
    z-index: 1;
}
.navbar-brand {
    padding: 0;
}
.nav>li {
    padding: 5px;
}
.nav>li>a {
    padding: 5px 10px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #e30613;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: grey;
}
.navbar-nav {
    margin-top: 15px;
}
.navbar-default li.inscription-modal a {
    border-radius: 20px;
    background: #e30613;
    color: #fff;
}
.navbar-default li.inscription-modal a:hover {
    background: #777;
    color: #fff;
}
.dropdown-menu {
    border: 0;
    background-color: #fff;
    box-shadow: none;
    min-width: auto;
}
.text-white {
    color: #fff;
}
.text-red {
    color: #e30613;
}
.link-light-grey, .text-light-grey {
    color: #e8e8e8;
}
.link-grey, .text-grey {
    color: #9c9c9c;
}
.bg-white {
    background-color: #fff;
}
.bg-red {
    background-color: #e40613;
}
.link-light-grey:active, .link-light-grey:active:focus, .link-light-grey:focus, .link-light-grey:hover {
    color: #e8e8e8;
    text-decoration: underline;
}
.link-grey:active, .link-grey:active:focus, .link-grey:focus, .link-grey:hover {
    text-decoration: underline;
    color: #9c9c9c;
}
/*.footer {
    font-family: "Helvetica Neue", Helvetica, Arial;
    display: table-row;
    height: 1px;
}
.footer .footer-content {
    background: #000;
    padding: 6px 0;
}
.footer .footer-content ul {
    padding-left: 15px;
}
.footer .footer-content ul li a, a:hover {
    color: #e8e8e8;
    text-decoration: none;
}
.footer .footer-content h3 {
    font-size: 20px;
    color: #e8e8e8;
}
p a {
    color: #e8e8e8;
}
.footer .footer-content h3.widget-title {
    text-decoration: none;
}
.footer .footer-content p,  {
    font-size: 16px;
    color: #e8e8e8;
}
a:hover {
    text-decoration: none!important;
}
.footer .footer-content .socialmedia-buttons {
    margin-bottom: 20px;
}
.footer .up {
    padding: 10px;
}
.footer .up svg {
    width: 31px;
    height: 32px;
    transform: rotate(180deg) translateZ(0);
    margin: auto;
    display: block;
}
*/h1 {
      font-size: 33px;
      margin-top: 0;
  }
.form-group {
    margin-bottom: 11px;
}
.red-btn {
    background: #e30613;
    color: #fff;
}
.red-btn:active, .red-btn:active:focus, .red-btn:focus, .red-btn:hover {
    outline: 0;
    color: #fff;
    background: #f70613;
}
.smw_left img {
    border: 0!important;
    margin-right: 10px!important;
}
label {
    font-weight: 400;
}
.radio-btn {
    font-weight: 400;
}
.radio-btn .radio {
    display: none;
}
.radio-btn .radio+.radio-text:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #dfe9eb;
    border: 1px solid #dfe9eb;
    display: inline-block;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.radio-btn .radio:checked+.radio-text:before {
    background: #be0537;
}
hr {
    border-top: 1px solid #e7edeb;
    margin: 5px 0;
}
.panel {
    border-radius: 4px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, .1), 0 4px 4px 0 rgba(0, 0, 0, .1);
    overflow: hidden;
    border: 0;
}
.panel .panel-heading {
    margin: 0;
    border: 0;
    border-radius: 0;
    padding: 15px;
    background-color: #e60613;
    width: 100%;
    color: #fff;
}
.sidebar .sidebar-title {
    font-size: 16px;
    font-weight: 700;
    padding: 3px;
}
.sidebar .sidebar-title.active {
    background-color: #e7ebee;
}
.sidebar .sidebar-list {
    list-style: none;
    padding: 0 0 0 25px;
    font-size: 14px;
    color: #9c9c9c;
}
@media (min-width:992px) {
    .flex-md {
        display: flex;
    }
}.bs-wizard {
     margin-top: 40px;
 }
.bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
}
.bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
}
.bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px;
}
.bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%}
.bs-wizard>.bs-wizard-step>.bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #e30613;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px;
}
.bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0;
    height: 8px;
    box-shadow: none;
    margin: 20px 0;
}
.bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0;
    box-shadow: none;
    background: #fbe8aa;
}
.bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%}
.bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%}
.bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%}
.bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #f5f5f5;
}
.bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
}
.bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%}
.bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%}
.bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
}
.navbar-brand {
    margin-top: 8px;
    margin-left: 15px;
}
@media only screen and (max-width:768px) {
    .navbar {
        min-height: 50px;
        margin-bottom: 0;
    }
    body {
        padding-top: 60px;
    }
    .desktop-image {
        display: none;
    }
    .hidden-mobile {
        display: none;
    }
}.step-registration {
     font-size: 16px;
     font-weight: 700;
     color: #e30613;
 }
.bg-color {
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    outline: 0;
}
.bg-color:hover {
    cursor: pointer;
    background: #97a9b3;
}
.bg-color-active {
    background: #97a9b3;
    border: 1px solid #e30613;
}
.form-element-errored {
    -webkit-border-radius: 4px!important;
    -moz-border-radius: 4px!important;
    border-radius: 4px!important;
    border: 1px solid #e30613!important;
}
.liste-errored {
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
}
.next-link {
    cursor: pointer;
}
@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Medium.eot);
    src: url(../fonts/Gotham-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/Gotham-Medium.woff) format('woff'), url(../fonts/Gotham-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Gotham-bold;
    src: url(../fonts/gothambold1.eot);
    src: local('../fonts/gothambold1'), url(../fonts/gothambold1.woff) format('woff'), url(../fonts/gothambold1.ttf) format('truetype');
}
@font-face {
    font-family: Gotham-black;
    src: url(../fonts/GothamBlack.eot);
    src: url(../fonts/GothamBlack.eot?#iefix) format('embedded-opentype'), url(../fonts/GothamBlack.woff) format('woff'), url(../fonts/GothamBlack.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

#formInfosPerso .wpcf7-number,
#formInfosPerso input[type="text"],
#formInfosPerso input[type="search"],
#formInfosPerso input[type="tel"],
#formInfosPerso input[type="url"],
#formInfosPerso input[type="email"],
#formInfosPerso input[type="number"],
#formInfosPerso input[type="date"],
#formInfosPerso input[type="range"],
#formInfosPerso input[type="password"],
#formInfosPerso select,
#formInfosPerso textarea{
    margin-bottom: 7px;
}